.account-info {
  width: 40%;
  display: inline-block;
  word-wrap: break-word;
  padding: 25px;
  margin: 20px;
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .account-info {
    width: 80%;
    padding: 20px;
  }
}
